# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1.x command line compiler build outputs
dist/
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle objects
dist/

# Environmental variables (VERY IMPORTANT)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase Service Account JSON (Private Keys)
*.json
!package.json
!package-lock.json

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific files
.DS_Store
Thumbs.db
